* {
  margin: 0px;
  padding: 0px;
}

body  {
	background-color:white;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color:white;
}

.container iframe {
  height: 100% !important;
  width: 100% !important;
  border: 0;
  z-index: 100;
}
