<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>kiosk</display-name>
	<welcome-file-list>
		<welcome-file>index.groovy</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Groovy</servlet-name>
		<servlet-class>groovy.servlet.GroovyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Groovy</servlet-name>
		<url-pattern>*.groovy</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RESTServlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<!-- <init-param> <param-name>jersey.config.server.provider.packages</param-name> 
			<param-value>es_searchbar.rest.filter</param-value> </init-param> -->
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>de.michaelkuerbis.presenter.rest.PresenterApplication</param-value>
		</init-param>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RESTServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SettingsServlet</servlet-name>
		<servlet-class>de.michaelkuerbis.presenter.servlets.SettingsServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CronServlet</servlet-name>
		<servlet-class>de.michaelkuerbis.presenter.servlets.CronServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>DiscoveryServlet</servlet-name>
		<servlet-class>de.michaelkuerbis.presenter.servlets.ChromeCastDiscoverServlet</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
</web-app>